body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1b1a1a;
}

.container {
    text-align: center;
}
.container h3 {
    font-size: 0.7;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;

}

.vase {
    width: 200px;
    height: 450px;
    background-color: #878282;
    border-radius: 50px 50px 50px 50px ;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}

.fluid {
    width: 100%;
    background-color: #5582e2;
    position: absolute;
    bottom: 0;
    transition: height 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white ;
}
.fluid-level {
    position:absolute;
}
